* {
  margin: 0 auto;
  padding: 0 auto;
}
body {
  background-color: rgb(236, 232, 222);
  text-align: center;
}
h1 {
  text-align: center;
  padding: 5px;
  font-weight: bolder;
  color: rgb(99, 59, 243);
}
.container {
  text-align: center;
  margin-top: 15px;
}

.date {
  width: 250px;
  height: 25px;
  padding: 10px;
  margin-left: 45px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.s_line {
  height: 25px;
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

#subject {
  width: 250px;
  height: 82px;
  padding: 10px;
  vertical-align: middle;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
}

input[type="text"]:focus {
  background-color: rgb(237, 247, 96);
}

textarea:focus {
  background-color: rgb(237, 247, 96);
}
label {
  font-weight: bolder;
}

.Submt {
  padding: 10px;
  width: 480px;
  border: 3px solid black;
  cursor: pointer;
  margin-bottom: 10px;
}

#Output {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  align-items: center;
}

#Output td,
#Output th {
  padding: 8px;
  border: 1px solid rgb(167, 167, 19);
}

#Output tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Output tr:hover {
  background-color: rgb(221, 238, 128);
  cursor: pointer;
}

#Output th {
  padding-top: 12px;
  background-color: rgb(86, 45, 235);
  color: white;
}

.jsstyle {
  width: 250px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid black;
}
